---
layout: page
title: Reading
subtitle: A running list of papers I'm spending time with. Updated as I go.
permalink: /reading/
---

{%- if site.data.reading and site.data.reading.items.size > 0 -%}
<ul class="reading-list reading-list--full">
  {% for item in site.data.reading.items %}
    <li class="reading-item">
      <a class="reading-title" href="{{ item.url }}" target="_blank" rel="noopener">
        {{ item.title }} <i class="fas fa-arrow-up-right-from-square"></i>
      </a>
      {% if item.venue %}<span class="reading-venue">{{ item.venue }}</span>{% endif %}
      {% if item.note %}<p class="reading-note">{{ item.note }}</p>{% endif %}
    </li>
  {% endfor %}
</ul>
{%- else -%}
  <p class="empty">Nothing on the table right now.</p>
{%- endif -%}

<p class="reading-foot">
  Have a paper you think I should read? <a href="mailto:{{ site.author.email }}">Send it my way</a>.
</p>
